<header style="display: flex; justify-content: space-between">
  <a href="/">Passport</a>
  <nav>
    <ul style="display: flex; justify-content: space-between; align-items: center;gap: 20px">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">register</a></li>
      <li><a href="/dashboard">dashboard</a></li>
      <li><a href="/protected">Protected!</a></li>
      <li><a href="/logout">Logout!</a></li>
    </ul>
  </nav>
</header>
